@import 'assets/vars';
@import 'assets/reset';

html {
    scroll-behavior: smooth;

    body {
        font-family: "Poppins";
        color: $text-color;
        background-image: url(../images/Background.png);
        background-repeat: no-repeat;
        background-position: 50% 10%;

        @import 'assets/menu';

        main {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        
            @import 'assets/main/class_section';
                
            @import 'assets/main/about';
        
            @import 'assets/main/education';
        
            @import 'assets/contact/contact';
        } 

        @import 'assets/footer';
    } 
}