* {
    margin: 0;
    padding: 0;
}

$text-color: #212121;
$title-color: #002265;
$title-color2: #14279B;

body {
    font-family: "Poppins";
    color: $text-color;
}

menu {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem 0;

    > div {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2.75rem;
    }
    
    .logo span {
        font-weight: 400;
        color: $title-color2;
    }
    
    .navs {
        display: flex;
        gap: 0.5rem 2.75rem;
        color: $text-color;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    a {
        color: $text-color;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: $title-color2;
    }
}

strong {
    // font-weight: 600;
    color: $title-color;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
        
    section#about {
        padding-top: 80px;
        display: flex;
        margin: 0 auto;
        width: 85vw;
        align-items: center;
        gap: 4rem;
        max-width: 1000px;

        div.aboutMe {
            flex-grow: 1;

            p {
                font-size: 1.5rem;
                color: $title-color;
                margin: 0;
            }

            h1 {
                font-size: 2.25rem;
                color: $title-color;
                margin: 0.5rem 0 1.5rem;
            }

            small {
                color: #212121;
            }
        }

        div.icon {
        background-image: url(images/hero-img.webp);
        background-size: contain;
        background-position: center;
        width: 31.25rem;
        height: 29.25rem;
        background-repeat: no-repeat;
        flex-shrink: 0.3;
        }
    }

    section.section {
        display: flex;
        margin: 0 auto;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 80px;

        h1 {
            span {
                font-weight: 400;
                color: $title-color2;
            }
        }
        
        > div {

            gap: 4rem;
           
            > div {
                border-radius: 0.75rem;
                box-shadow: 0 0 1rem 0 #c7c7c7d2;
                padding: 1rem;

                h2 {
                    color: $title-color;
                    margin: 1rem 0;
                }

                div.img {
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 3rem;
                }
            }
        }

        div.two_bloks {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    } 

    section#education {
        div:first-of-type div.img {
            background-image: url(images/bsuir-logo.png);
        }

        div:last-of-type {
            h2 {
                margin-bottom: 0.5rem;
            }

            > a div.img {
                background-image: url(images/logo_it_step.jpg);
                height: 3.5rem;
            }
        }        
    }

    section#contact {
        
    }
}




