$text-color: #212121;
$title-color: #0485ff;
$title-color2: #d9dae3;
$bg-color-haver-dark:#083ca0e0;
$box-shadow-color-dark: rgba(45,134,218,.5);
$bg-color-dark: #1c50b6;
$light-color: aliceblue;
$title-color2-hover: #4eb9ff;
