* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4581F6;
  border-radius: 3px;
}

* {
  transition: all 0.3s ease-in-out, color 0s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  color: #212121;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: 50% 10%;
}
body a[href="#up"] {
  display: block;
  position: fixed;
  z-index: 10;
  bottom: 6.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(45, 134, 218, 0.5);
  background-color: #f9f9f9;
}
body a[href="#up"] i {
  position: absolute;
  font-size: 2.25rem;
  color: #4581F6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem 0;
  z-index: 10;
}
body menu > div {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  gap: 2.75rem;
}
body menu .logo span {
  font-weight: 400;
  color: #14279B;
}
body menu .logo span.strong {
  font-weight: 600;
  color: #002265;
}
body menu .navs {
  display: flex;
  gap: 0.5rem 2.75rem;
  color: #212121;
  flex-wrap: wrap;
  justify-content: center;
}
body menu a {
  color: #212121;
  text-decoration: none;
}
body menu a br {
  display: none;
}
body menu a div {
  display: none;
}
body menu a:hover {
  border-bottom: 2px solid #14279B;
  color: #14279B;
  transition: all 0s linear;
}
body menu a:active {
  box-shadow: 0 5px 10px -8px rgba(45, 134, 218, 0.5);
}
body main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main section.section {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
}
body main section.section h1 span {
  font-weight: 400;
  color: #14279B;
}
body main section.section h1 span.strong {
  font-weight: 600;
  color: #002265;
}
body main section.section > div {
  gap: 4rem;
}
body main section.section > div > div {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px 1px rgba(45, 134, 218, 0.5);
  padding: 1rem;
}
body main section.section > div > div h2 {
  color: #002265;
  margin: 1rem 0;
}
body main section.section > div > div div.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
}
body main section.section div.two_bloks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body main section.section div.two_bloks > div {
  background-color: white;
}
body main section#about {
  display: flex;
  margin: 0 auto;
  width: 85vw;
  align-items: center;
  gap: 4rem;
  max-width: 1000px;
  padding: 6.75rem 0 5rem;
}
body main section#about div.aboutMe {
  flex-grow: 1;
}
body main section#about div.aboutMe p {
  font-size: 1.5rem;
  color: #002265;
  margin: 0;
}
body main section#about div.aboutMe h1 {
  font-size: 2.25rem;
  color: #002265;
  margin: 0.5rem 0 1.5rem;
}
body main section#about div.icon {
  background-image: url(../images/hero-img.webp);
  background-size: contain;
  background-position: center;
  width: 31.25rem;
  height: 29.25rem;
  background-repeat: no-repeat;
  flex-shrink: 0.3;
  animation: move 1s ease-in-out infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
body main section#portfolio {
  width: 89vw;
}
body main section#portfolio > div {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
body main section#portfolio > div > div {
  position: relative;
  width: 21rem;
  height: 23rem;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 10px 1px rgba(45, 134, 218, 0.5);
}
body main section#portfolio > div > div img {
  position: absolute;
  height: 100%;
  transform-origin: center;
}
body main section#portfolio > div > div div {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: transparent;
  z-index: -1;
}
body main section#portfolio > div > div > div {
  height: 100%;
}
body main section#portfolio > div > div > div > div {
  top: 80%;
  transform: translate(0, -50%);
}
body main section#portfolio > div > div > div > div a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 0.75rem;
  font-size: 1.75rem;
  margin: 0 1rem;
}
body main section#portfolio > div > div > div > div a i {
  vertical-align: middle;
  color: #212121;
  transition: color 0.3s ease-in-out;
}
body main section#portfolio > div > div > div > div a:hover {
  background-color: rgb(45, 134, 218);
}
body main section#portfolio > div > div > div > div a:hover i {
  color: white;
}
body main section#portfolio > div > div:hover img {
  transform: scale(120%) rotate(5deg);
}
body main section#portfolio > div > div:hover > div {
  z-index: 1;
  background: rgba(45, 134, 218, 0.5);
}
body main section#portfolio > div > div:hover > div div {
  z-index: 2;
  top: 50%;
}
body main section#education div:first-of-type div.img {
  background-image: url(../images/bsuir-logo.png);
}
body main section#education div:last-of-type h2 {
  margin-bottom: 0.5rem;
}
body main section#education div:last-of-type > a div.img {
  background-image: url(../images/logo_it_step.jpg);
  height: 3.5rem;
}
body main section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
body main section#contact h1 span {
  font-weight: 400;
  color: #14279B;
}
body main section#contact h1 span.strong {
  font-weight: 600;
  color: #002265;
}
body main section#contact h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin: 0.25em 0 1em;
}
body main section#contact > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
body main section#contact > div div.contacts {
  background-color: #4581F6;
  color: white;
  padding: 2rem 3rem;
  padding-left: max(2rem, 5vw);
  border-radius: 0 0.5rem 0.5rem 0;
}
body main section#contact > div div.contacts a {
  color: white;
}
body main section#contact > div div.contacts p {
  margin-bottom: 1rem;
}
body main section#contact > div div.contacts h5 {
  font-size: 22px;
  margin-bottom: 1.5rem;
}
body main section#contact > div div.contacts h6 {
  font-weight: 400;
  font-size: 1rem;
}
body main section#contact > div div.contacts h6 i {
  margin-right: 0.5rem;
}
body main section#contact > div div.contacts > div {
  display: flex;
  padding-top: 1rem;
  font-size: 1.5rem;
  gap: 4rem;
}
body main section#contact > div div.contacts > div div {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
}
body main section#contact > div div.contacts > div div:last-of-type {
  align-items: center;
}
body main section#contact > div div.contacts > div div:hover {
  background-color: rgba(26, 102, 252, 0.8784313725);
  transition: all 0.3s ease-in-out 0s;
  transform: scale(105%);
  transform-origin: center;
}
body main section#contact > div div.email form {
  padding: 3rem;
}
body main section#contact > div div.email form div {
  margin-bottom: 1rem;
}
body main section#contact > div div.email form label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
body main section#contact > div div.email form .form-control {
  font-family: inherit;
  appearance: none;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 2px solid #7e7e7e;
  padding: 0.375rem 0.75rem;
  padding-right: calc(1.5em + 0.75rem);
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}
body main section#contact > div div.email form .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #4581F6;
}
body main section#contact > div div.email form .form-control:invalid:not(:placeholder-shown):not(:focus) {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
body main section#contact > div div.email form .form-control:valid {
  border-color: #198754;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
body main section#contact > div div.email form textarea {
  transition: all 0s ease;
  resize: vertical;
  height: 1rem;
  min-height: calc(1em + 0.55rem);
}
body main section#contact > div div.email form button {
  background-color: white;
  color: #4581F6;
  border: 1px solid #4581F6;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
body main section#contact > div div.email form button:hover {
  background-color: #4581F6;
  color: white;
}
body main section#contact > div div.email form button:active {
  box-shadow: 0 0 10px 0 #4581F6;
}
body footer {
  background-color: #4581F6;
  color: white;
  text-align: center;
  padding: 1.5rem;
  white-space: pre-wrap;
  margin-top: 2rem;
}
body footer em {
  font-size: 0.9em;
  font-style: oblique;
}

@media (max-width: 800px) {
  body {
    min-width: 300px;
  }
  body menu {
    padding: 0.2rem 0;
  }
  body menu > div {
    width: auto;
    display: block;
    text-align: center;
  }
  body menu .logo {
    display: none;
  }
  body menu .navs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    justify-items: center;
    justify-content: space-evenly;
  }
  body menu a {
    display: block;
    font-size: 0.75rem;
    text-align: center;
    word-wrap: break-word;
  }
  body menu a div {
    display: block;
    font-size: 1.5rem;
    position: relative;
    top: 0.7rem;
  }
  body menu a br {
    display: block;
  }
  body menu a:hover {
    border: none;
  }
  body menu a:hover div {
    top: 0.2rem;
  }
  body menu a:active {
    box-shadow: none;
  }
  body main {
    gap: 0;
  }
  body main section.section > div {
    gap: 3rem;
  }
}
@media (max-width: 800px) and (max-width: 570px) {
  body main section.section {
    width: 90vw;
    gap: 3rem;
  }
  body main section.section > div {
    gap: 2rem;
  }
  body main section.section div.two_bloks {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  body main section#about {
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  body main section#about div.aboutMe {
    margin: 0 min(5vw, 4rem);
  }
  body main section#about div.icon {
    width: 70vw;
    height: calc(70vw - 2rem);
  }
}
@media (max-width: 800px) and (max-width: 560px) {
  body main section#about div.icon {
    width: 80vw;
    height: calc(80vw - 2rem);
  }
}
@media (max-width: 800px) and (max-width: 300px) {
  body main section#about div.icon {
    width: 15rem;
    height: 13rem;
  }
}
@media (max-width: 800px) and (max-width: 430px) {
  body main section#portfolio > div > div {
    width: min(21rem, 80vw);
    height: calc(min(21rem, 80vw) + 2rem);
  }
}
@media (max-width: 800px) and (max-width: 300px) {
  body main section#portfolio > div > div {
    width: 15rem;
    height: 17rem;
  }
}
@media (max-width: 800px) and (max-width: 400px) {
  body main section#contact h2 {
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 800px) {
  body main section#contact > div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  body main section#contact > div div.contacts {
    padding-right: 1rem;
    padding-left: 2rem;
    border-radius: 0 0 0 0;
  }
  body main section#contact > div div.contacts > div {
    justify-content: space-around;
    gap: 0;
  }
  body main section#contact > div div.email form {
    padding: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
