section#about {
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    @media (max-width: 301px) {
        transition: all 0s linear;
    }

    @media (max-width: 300px) {
        padding-top: 1.75rem;

    }

    div.aboutMe {
        margin: 0 min(5vw, 4rem);

        @media (max-width: 300px) {
            margin: 0 calc(300px * 0.05);
        }

        p {
            font-size: 1.25rem;
        }

        h1 {
            font-size: 1.75rem;
        }
    }

    div.icon {
        width: 70vw;
        height: calc(70vw - 2rem);

        @media (max-width: 560px) {
            width: 80vw;
            height: calc(80vw - 2rem);
        }

        @media (max-width: 300px) {
            width: 15rem;
            height: 13rem;
        }
    }    
}  
