section#portfolio {
    > div {

        > div {
            @media (max-width: 430px)  {          
                width: min(21rem, 80vw);
                height: calc(min(21rem, 80vw) + 2rem);
            }       
            
            @media (max-width: 300px) {
                width: 15rem;
                height: 17rem;
            }
        }
        
    }
}