footer {
    background-color: $bg-color;
    color: $light-color;
    text-align: center;
    padding: 1.5rem;
    white-space: pre-wrap;
    margin-top: 2rem;

    em {
        font-size: 0.9em;
        font-style: oblique;
    }
}