menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem 0;
    z-index: 10;
    box-shadow: 0 -3px 10px 0px rgb(45 134 218 / 50%);

    > div {
        margin: 0 5vw;
        display: flex;
        justify-content: space-between;
        gap: 2.75rem;
    }
    
    .logo {
        @import 'two-color';
    }
    
    .navs {
        display: flex;
        gap: 0.5rem 2.75rem;
        color: $text-color;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    a {
        color: $text-color;
        text-decoration: none;

        br {
            display: none;
        }
        div {
            display: none;
        }
    }
    
    a:hover {
        border-bottom: 2px solid $title-color2;
        color: $title-color2;
        transition: all 0s linear;
    }

    a:active {
        box-shadow: 0 5px 10px -8px $box-shadow-color;
    }
}